body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans';

  color: #172b4d;
}

.text-blue {
  color: #0052cc;
}

#demo-import {
  width: 90vw;
  max-width: 800px;
}
