.footer {
  margin-top: auto;
  padding: 20px 0 10px 0;
  color: var(--black-600);
  font-size: 14px;

  .version {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      height: 16px;
    }

    .text {
      user-select: none;
      margin: 0 5px 0 5px;
    }
    .update {
      cursor: pointer;
      color: var(--blue-600);
    }
  }

  .line-2 {
    margin-top: 5px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: var(--black-600);

    :global(.material-icons) {
      font-size: 20px;
      color: #171516;
    }

    & > a,
    & > .feedback {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:link,
      &:visited,
      &:focus,
      &:active {
        text-decoration: none;
        color: var(--black-600);
      }
    }
  }
  .separate {
    height: 14px;
    border-right: 1px solid var(--black-400);
  }
  .copy-right {
    img {
      width: 16px;
      margin-right: 5px;
    }
  }
  .modal {
    color: #000;
    .feedback-text {
      font-size: 14px;
      line-height: 16px;
    }
    .email,
    .video {
      padding: 4px 0;
      display: flex;
      align-items: center;
      :global(.material-icons-outlined) {
        font-size: 16px;
        margin-right: 8px;
      }
      color: var(--blue-900);
      a {
        color: var(--blue-900);
      }
    }
  }
}
