@X: 36px;
@X-half: 18px;

.language {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #fff;
  width: @X;
  text-align: center;
  height: @X;
  border-radius: @X-half;
  box-shadow: var(--bs-sm);
  &:hover {
    box-shadow: var(--bs-md);
  }

  & > :global(.material-icons) {
    font-size: 24px;
    color: var(--black-500);
    line-height: @X;
  }

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .tooltip {
    position: absolute;
    right: 0;
    top: 42px;
    border-radius: 6px;
    box-shadow: var(--bs-md);
    background: #fff;
    div {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      &:hover {
        background: var(--bc-lighter);
      }
      :global(.material-icons) {
        font-size: 20px;
        color: var(--blue-600);
        margin-right: 5px;
        visibility: hidden;
      }
      &:global(.active) {
        :global(.material-icons) {
          visibility: visible;
        }
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: -8px;
      right: 14px;
      border-width: 4px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
    }
  }
}
