.list {
  font-size: 16px;

  .item {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, auto) minmax(0, auto);
    gap: 8px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;

    &:nth-child(odd) {
      background: var(--main-background-color);
    }

    .file-name {
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .label {
      font-family: 'Roboto Mono', monospace;
      font-size: 14px;
    }

    .icon {
      width: 15px;
      cursor: pointer;
      color: var(--main-danger-color);
    }

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      bottom: 0;
      width: var(--watch-progress);
      background: #1f75cb;
    }
  }
}
