.modal-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
  }

  .modal {
    background: #fff;
    z-index: 1;
    border-radius: 10px;
    min-width: 300px;
    max-width: 100vw;
    min-height: 200px;
    max-height: 100vh;
    box-shadow: 0 8px 10px 0 rgb(15 41 77 / 8%);

    .header {
      display: flex;
      align-items: center;
      margin: 15px 15px 0 15px;
      .title {
        font-size: 18px;
        & + span {
          flex-grow: 1;
        }
      }
      .icon {
        color: var(--main-icon-color);
        cursor: pointer;
      }
    }

    .body {
      overflow: auto;
      padding: 15px;
    }
  }
}
