.nav {
  border-bottom: 1px solid;
  border-color: var(--main-border-color);
  width: 100vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
  align-items: center;
  padding: 0 10px;
}

.icon {
  cursor: pointer;
  color: var(--main-icon-color);
}

.name {
  & > div {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    .episode {
      font-weight: bold;
    }
  }
}

.right {
  .icon {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.settings,
.info {
  display: grid;
  grid-template-columns: minmax(50px, auto) 1fr;
  gap: 10px;
  align-items: center;
  padding: 0 10px;
}

.settings {
  .title {
  }

  .body {
  }
}

.shortcuts {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.info {
  grid-template-columns: 1fr 1fr;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #24292f;
    background-color: #f6f8fa;
    border: 1px solid rgba(27, 31, 36, 0.15);
    border-radius: 5px;
    padding: 5px;

    span[class='material-icons'] {
      font-size: 16px;
    }
  }

  .body {
    justify-self: end;
  }
}
