@indentation: 40px;

.subtitle {
  padding: 5px;
  background: #272822;
  color: #e6e6e0;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  .node {
    margin-bottom: 15px;
  }
}

.line {
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
}

.counter {
  color: #e6d874;
  font-weight: bold;
  display: inline-block;
  width: @indentation;
}

.start {
  color: #a6e22e;
}

.end {
  color: #f92672;
}

.hyphen {
  white-space: pre;
}

.text {
  margin: 5px 0;
  margin-left: @indentation;
}
