.container {
  margin: 20px 10px;
  user-select: none;

  .upload-area {
    max-width: 600px;
    height: 120px;
    margin: 0 auto;
    background: var(--bg-gray);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: var(--bs-sm);
    &:hover,
    &:global(.drag-over) {
      box-shadow: var(--bs-md);
    }
    &:hover {
      background: var(--bg-blue);
    }
    &:global(.drag-over) {
      background: var(--bg-green);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-gray);
    font-size: 22px;

    :global(.material-icons) {
      font-size: 40px;
      margin-right: 10px;
    }
  }

  .buffer {
    margin: 20px 0 10px 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 10px;
    align-items: start;

    .videos,
    .subtitles {
      background: var(--bg-gray);
      padding: 5px 5px 0 5px;

      & > :global(.material-icons) {
        text-align: center;
        display: block;
        margin-bottom: 5px;
      }

      .file {
        position: relative;
        background: #fff;
        padding: 5px;
        padding-right: 20px;
        margin-bottom: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:global(.error) {
          color: var(--text-red);
          opacity: 0.6;
        }
        & > :global(.material-icons) {
          position: absolute;
          right: 2px;
          top: 7px;
          font-size: 15px;
          cursor: pointer;
        }
      }
    }
  }

  .save-cache {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    input {
      margin: 0 8px 0 0;
      width: 14px;
      height: 14px;
    }
  }

  .ok {
    display: flex;
    justify-content: center;
    button {
      border: 1px solid var(--text-blue);
      border-radius: 5px;
      background: var(--text-blue);
      color: #fff;
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      &:disabled {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}
