.container {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 10px;
  display: grid;
  margin-bottom: 10px;
}

.video-input,
.subtitle-input {
  margin: 20px auto 5px auto;
  width: 200px;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  cursor: pointer;

  font-size: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  :global(.material-icons) {
    margin-right: 10px;
    font-size: 20px;
    color: var(--main-border-color);
  }
}

.files {
  margin: 0 auto;
  background: var(--main-background-color);
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
  padding: 5px;
  &.hide {
    visibility: hidden;
  }
  .file {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    line-height: 20px;
  }
}
