.home {
  max-width: 1080px;
  min-height: var(--100vh);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.play {
  --nav-height: 40px;
  height: var(--100vh);
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3px var(--subtitle-width);
  grid-template-rows: var(--nav-height) minmax(0, 1fr);

  &:global(.no-subtitle) {
    grid-template-columns: 1fr 0 0;
  }

  @media all and (display-mode: fullscreen) {
    --nav-height: 0;
  }
}

.resize {
  cursor: col-resize;
  background: var(--bc-lighter);
  &:hover {
    @media (hover: hover) {
      background: var(--black-400);
    }
  }
  z-index: 1;
  overflow: visible;
  .fat-bar {
    width: 15px;
    height: 100%;
    left: -6px;
    position: relative;
    background-color: transparent;
  }
}
