.home {
  max-width: 1080px;
  margin: 0 auto;
}

.play {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px minmax(0, 1fr);

  .body {
    display: grid;
    grid-template-columns: 0 0 minmax(0, 1fr) 3px var(--subtitle-width-without-dictionary);
    grid-template-rows: minmax(0, 1fr);
    &.has-dictionary {
      grid-template-columns: var(--dictionary-width) 3px minmax(0, 1fr) 3px var(--subtitle-width-with-dictionary);
    }
  }
}

.resize {
  cursor: col-resize;
  background: var(--main-background-color);
  &:hover {
    background: var(--main-border-color);
  }
}
