.nav {
  grid-column: 1 / 4;
  border-bottom: 1px solid;
  border-color: var(--black-400);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
  overflow: hidden;
}

.icon {
  cursor: pointer;
  color: var(--black-500);
  height: 100%;
  :global(.material-icons) {
    line-height: var(--nav-height);
  }
  padding: 0 6px;
  &:global(.disabled) {
    color: #ebebeb;
  }
  &:hover {
    background: var(--bc-lighter);
    color: #000;
  }
}

.name {
  height: 100%;
  line-height: var(--nav-height);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.right {
  .icon {
    position: relative;
    display: inline-block;
    &:last-child {
      margin-right: 0;
    }
    .delay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 2px;
      color: var(--red-500);
      font-size: 9px;
      text-align: center;
      font-family: 'Roboto Mono', monospace;
    }
  }
}

.settings,
.info {
  display: grid;
  grid-template-columns: minmax(50px, auto) 1fr;
  gap: 10px;
  align-items: center;
}

.settings {
  gap: 24px 32px;

  .title {
  }

  .body {
    position: relative;
    input[type='text'] {
      border: 1px solid var(--black-400);
      border-width: 0 0 1px 0;
      padding-bottom: 1px;
      width: 100px;
      &:focus {
        outline: none;
        border-color: var(--blue-600);
        border-width: 0 0 2px 0;
        padding-bottom: 0;
      }
    }
    input[type='checkbox'] {
      margin: 0;
      height: 14px;
      width: 14px;
    }
    :global(.material-icons):global(.clear) {
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 2px;
      font-size: 17px;
      color: var(--black-300);
      &:hover {
        color: var(--black-800);
      }
    }
  }
}

.shortcuts {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.3cols {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;

  :global(.column) {
    padding: 10px;
    border: 1px solid var(--bc-lighter);
    border-radius: 10px;

    :global(.column-title) {
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}

.info {
  grid-template-columns: minmax(0, auto) auto;
  .title {
    display: flex;
    color: rgb(150, 159, 175);
    .key {
      display: flex;
      min-width: 12px;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(-225deg, rgb(213, 219, 228), rgb(248, 248, 248));
      box-shadow: rgb(205, 205, 230) 0px -2px 0px 0px inset, rgb(255, 255, 255) 0px 0px 1px 1px inset,
        rgba(30, 35, 90, 0.4) 0px 1px 2px 1px;
      border-radius: 3px;
      padding: 5px;
      margin-right: 10px;
    }

    .right-click {
      border-radius: 3px;
      padding: 5px;
      background: var(--bc-lighter);
    }

    span[class='material-icons'] {
      font-size: 16px;
    }
  }

  .body {
  }
}

.waveform {
  padding: 16px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 10px;
  .waveform-option {
    padding: 20px;
    cursor: pointer;
    box-shadow: var(--bs-sm);
    &:global(.active) {
      background-color: var(--black-500);
      color: var(--white);
      .progress {
        svg {
          line {
            stroke: var(--white);
          }
          circle {
            fill: var(--white);
            stroke: var(--white);
          }
        }
      }
    }
    border-radius: 10px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-200);
    :global(.material-icons-outlined) {
      font-size: 40px;
      margin: 32px 0 16px 0;
    }
    .waveform-text {
      text-align: center;
    }
  }
}

.progress {
  width: 100%;
  text-align: center;
  svg {
    margin: 20px 0 10px 0;
    line {
      stroke: var(--black-100);
      stroke-width: 2;
      &:global(.done) {
        stroke: var(--black-700);
      }
      &:global(.current) {
        stroke: var(--black-200);
      }
    }
    circle {
      fill: var(--black-100);
      stroke-width: 0;
      &:global(.done) {
        fill: var(--black-700);
      }
      &:global(.current) {
        fill: var(--black-200);
      }
    }
  }
}
